- name: test
  hosts: localhost
  become: true
  gather_facts: true
  tasks:
    - name: Fetch raw kubeconfig
      ansible.builtin.slurp:
        src: /etc/rancher/k3s/k3s.yaml
      register: kubeconfig_raw
      delegate_to: master-node-1

    - name: Parse kubeconfig file content
      ansible.builtin.set_fact:
        kubeconfig: "{{ kubeconfig_raw['content'] | b64decode |
          regex_replace('https://127.0.0.1:6443', k3s_url) }}"

    - name: Get user for home directory
      ansible.builtin.set_fact:
        user: "{{ ansible_env.SUDO_USER | default(ansible_user_id) }}"

    - name: Create ~/.kube directory
      ansible.builtin.file:
        path: "/home/{{ user }}/.kube"
        state: directory
        mode: "0700"
      become: false

    - name: Copy kubeconfig to localhost
      ansible.builtin.copy:
        content: "{{ kubeconfig }}"
        dest: "/home/{{ user }}/.kube/config"
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: "0600"
